<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.development.js"></script>
    <link rel="stylesheet" href="/static/styledash.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>
<body>
    <div class="wrapper">
        <nav>
        <div class="navbar">
            <div class="logo">
                <img src="/static/images/logo.png" alt="logo"/>
                <span>Finances</span>
            </div>
            <a href="{{ url_for('dashboard') }}"><i class="fa-solid fa-chart-line"></i>Dashboard</a>
            <a href="{{ url_for('index') }}"><i class="fa-solid fa-star"></i>Report</a>
            <a href="{{ url_for('update_form') }}"><i class="fa-solid fa-calendar-days"></i>Update Form</a>
            <a href="{{ url_for('savings') }}"><i class="fa-solid fa-spinner"></i>Savings</a>
            <a href="{{ url_for('logout') }}" class="logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </div>
    </nav>

    <div class="input-form">
        <h2>Enter Your Financial Data</h2>
        <form id="financialForm">
            <label for="monthlyIncome">Monthly Income:</label>
            <input type="number" id="monthlyIncome" name="monthlyIncome" required>
            
            <label for="monthlyExpenses">Monthly Expenses:</label>
            <input type="number" id="monthlyExpenses" name="monthlyExpenses" required>
            
            <label for="monthlySavings">Monthly Savings:</label>
            <input type="number" id="monthlySavings" name="monthlySavings" required>
            
            <label for="netWorth">Net Worth:</label>
            <input type="number" id="netWorth" name="netWorth" required>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='dash.js') }}"></script>
</body>